
















































































.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:55%;
  width:40%;
  position:absolute;
  margin-left: 50px;
}



.col-md-2 {

color: black;


}







.page-footer {
           background-color: #9da4b1;
       }
